* {
  margin: 0;
}

html {
  height: 1100px;
}

@font-face {
  font-family: Elkwood;
  src: url(../elk.ttf);
}

@font-face {
  font-family: VintageAvalanche;
  src: url(../VintageAvalanche.otf);
}


body {
  text-align: center;
  position: relative;
  background: linear-gradient(#A88A8A, #423636);
  background-repeat: no-repeat;
  background-size: cover cover;
  background-position: center center;
  height: 1100px;
}

#again {
  margin: 15px;
  padding: 2px;
  border-radius: 5px;
  visibility: hidden;
}

#title {
  height: 35px;
  overflow: hidden;
  font-family: VintageAvalanche;
}

#op {
  color: #A88A8A;
  height: 23px;
  }

#images {
  margin-left: 7%;
  margin-right: 7%;
  }

.container {
  display: inline-block;
  float: left;
  height: 240px;
  width: 21%;
  margin: 1%;
  background-color: #5B6066;
  border-radius: 10%;
  box-shadow: 10px 10px 10px black;
  transition: transform 0.25s;
  border: 8px double #3F312A;
  font-family: VintageAvalanche;
}

a {
  text-decoration: none;
  display: block;
}


p {
  font-size: 120%;
  padding: 5px;
  color: #F1E6F4;
  margin-bottom: 0;
  font-family: VintageAvalanche;
  }

img {
  margin-top: 0;
  height: 125px;
  border-radius: 50%;
  padding-bottom: 5px;
  border: 3px solid #F1E6F4;
}

.over {
  transform: scale(1.5);
  background-color: #AEB6BF;
  color: #3F312A;
}

.over img {
  border-radius: 12%;
}

#welcome h2 {
  padding-top: 90px;
  color: #3F312A;
  font-family: Elkwood;
  font-size: 300%;
}
#welcome p {
  padding-top: 15px;
  color: #A88A8A;
  transition: transform .2s;
  font-family: VintageAvalanche;
}

#welcome p:hover {
  transform: scale(1.5);
}

#welcomeHolder {
  z-index: 60;

}

#newText {
  margin-top: 38%;
}



/* this is the section with the input to display the images */
 h4 {
  /*padding-top: 75px;*/
  color: #3F312A;
  padding-bottom: 5px;
}

.choice {
  width: 100px;
  text-align: center;
}


.holder {
  position: relative;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  /*background-color: #F1E6F4;*/
  padding: 70px;
  margin: 0 auto;
  text-align: center;
  /*background: linear-gradient(-90deg, #F1E6F4, #5B6066);*/
  margin-top: 5%;
  z-index: 2;
  font-family: VintageAvalanche;
  }

  .inner {
  position: absolute;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  background-color:#AEB6BF;
  z-index: 80;
  margin: 14px;
  }

.border {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 310px;
  width: 310px;
  border-radius: 50%;
  border-width:15px;
  background: linear-gradient(-90deg, #F1E6F4, #5B6066);
  transition: transform 6s;
  z-index: 70;
  margin: 70px;
}

.border:hover {
  transform: rotate(1080deg);
}
